## POSTTEST 4

### Nama : Sancto Metano Crozart
### Nim : 2109106112

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [4]:
df.shape

(23486, 11)

## Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (16440, 10)
Dimensi X_test (7046, 10)
Dimensi y_train (16440,)
Dimensi y_test (7046,)

## Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [6]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["Rating"]]

normalization = min_max.fit_transform(dataCopy_normalization[["Rating"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["Rating_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(df_normalization["Rating_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   Rating  Rating_Normalization
0       4                  0.75
1       5                  1.00
2       3                  0.50
3       5                  1.00
4       5                  1.00
5       2                  0.25
6       5                  1.00
7       4                  0.75
8       5                  1.00
9       5                  1.00

## Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [8]:
# Membuat salinan dataset
data_copy = df.copy()

# memilih atribut yang ingin di standarisasi
attribute_to_standardize = 'Rating'

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Standarisasi atribut
data_copy[attribute_to_standardize] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

# Menampilkan atribut 'points' sebelum dan sesudah standarisasi
print("Atribut 'Rating' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'Rating' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

     Rating
0 -0.176604
1  0.724291
2 -1.077499
3  0.724291
4  0.724291
5 -1.978394
6  0.724291
7 -0.176604
8  0.724291
9  0.724291

Sesudah Standarisasi:

     Rating
0 -0.176604
1  0.724291
2 -1.077499
3  0.724291
4  0.724291
5 -1.978394
6  0.724291
7 -0.176604
8  0.724291
9  0.724291

## Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).

In [9]:
df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [25]:
# menghapus nilai null
df.dropna(inplace=True) 
df.isna().sum()

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

## Mengubah bilangan bulat menjadi median/modus

In [11]:
data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
strategi1 = SimpleImputer(strategy="median")

data["Rating"] = strategi1.fit_transform(data[["Rating"]])

data.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

## Mengubah bilangan desimal menjadi mean

In [27]:
import pandas as pd
data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
from sklearn.impute import SimpleImputer
strategi2 = SimpleImputer(strategy="mean")

data["Age"] = strategi2.fit_transform(data[["Age"]])

data.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

## Mengubah tulisan menjadi modus

In [26]:
import pandas as pd
data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
# Daftar kolom yang akan diisi dengan modus
kolom_tulisan = ['Review Text','Title', 'Division Name', 'Department Name', 'Class Name']

# Loop melalui kolom-kolom tersebut dan ganti nilai null dengan modus
for kolom in kolom_tulisan:
    modus = data[kolom].mode()[0]  # Mengambil modus kolom
    data[kolom].fillna(modus, inplace=True)

data.isna().sum()

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

## melakukan cleaning duplicate

In [14]:
data[data.duplicated()]

print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

0

## Karena tidak ada data nilai duplikat maka dibuat nilai duplikat

In [15]:
make_duplicated = pd.concat([data]*2, ignore_index=True)
make_duplicated.duplicated()

print("Jumlah data duplicated sekarang :")
make_duplicated.duplicated().sum()

Jumlah data duplicated sekarang :

23486

In [16]:
make_duplicated.drop_duplicates(inplace=True)

hasil = make_duplicated.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## Mengganti tipe data salah satu attribute angka

In [17]:
print("Tipe data Age sebelum diubah :")
df["Age"].dtypes

Tipe data Age sebelum diubah :

dtype('int64')

In [18]:
ubah_dtype = data["Age"].astype("float")
print("Tipe data Age setelah diubah :")
ubah_dtype.dtypes

Tipe data Age setelah diubah :

dtype('float64')

## melakukan one hot encoding

In [28]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
one_hot = OneHotEncoder(sparse=False, drop='first') 
df_onehot = one_hot.fit_transform(data[["Department Name"]])
encoded_column_names = one_hot.get_feature_names_out(["Department Name"])
df_encoded = pd.DataFrame(df_onehot, columns=encoded_column_names)
data = pd.concat([data, df_encoded], axis=1)
data.drop(["Department Name"], axis=1, inplace=True)
data.head(10)

C:\Users\Lenovo\OneDrive\Documents\VENV_C1_21\Sancto_112\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Class Name,Department Name_Dresses,Department Name_Intimate,Department Name_Jackets,Department Name_Tops,Department Name_Trend,Department Name_nan
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimates,0.0,1.0,0.0,0.0,0.0,0.0
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,1.0,0.0,0.0,0.0,0.0,0.0
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,1.0,0.0,0.0,0.0,0.0,0.0
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Pants,0.0,0.0,0.0,0.0,0.0,0.0
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Blouses,0.0,0.0,0.0,1.0,0.0,0.0
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,1.0,0.0,0.0,0.0,0.0,0.0
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Knits,0.0,0.0,0.0,1.0,0.0,0.0
7,7,858,39,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,1,4,General Petite,Knits,0.0,0.0,0.0,1.0,0.0,0.0
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,1.0,0.0,0.0,0.0,0.0,0.0
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,1.0,0.0,0.0,0.0,0.0,0.0