# POSTTEST 2

In [1]:

import pandas as pd
import numpy as np

df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

C:\Users\Lenovo\OneDrive\Documents\VENV_C1_21\Sancto_112\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Lenovo\OneDrive\Documents\VENV_C1_21\Sancto_112\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\Lenovo\OneDrive\Documents\VENV_C1_21\Sancto_112\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

#### rata-rata

In [ ]:
rata_rata = np.mean(df)
rata_rata

#### standar deviasi

In [11]:
deviasi = df['Age'].std()
deviasi

12.279543615591493

#### nilai minimum

In [12]:
min = df['Age'].min()
min

18

#### nilai maksimum

In [13]:
max = df['Age'].max()
max

99

#### Q1

In [14]:
q1 = df['Age'].quantile(0.25)
q1

34.0

#### Q2

In [15]:
q2 = df['Age'].median()
q2

41.0

#### Q3

In [16]:
q3 = df['Age'].quantile(0.75)
q3

52.0

### 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [17]:
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.head(10)

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
0,0,767,33,4,1,0
1,1,1080,34,5,1,4
2,2,1077,60,3,0,0
3,3,1049,50,5,1,0
4,4,847,47,5,1,6
5,5,1080,49,2,0,4
6,6,858,39,5,1,1
7,7,858,39,4,1,4
8,8,1077,24,5,1,0
9,9,1077,34,5,1,0

### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [18]:
info_dict = {
    'Jumlah Record': len(df),
    'Jumlah Attribute': len(df.columns),
    'Nama Attribute': df.columns.tolist(),
    'Jumlah Attribut dengan Tipe Angka': len(df.select_dtypes(include=[np.number]).columns)
}
info_dict

{'Jumlah Record': 23486,
 'Jumlah Attribute': 11,
 'Nama Attribute': ['Unnamed: 0',
  'Clothing ID',
  'Age',
  'Title',
  'Review Text',
  'Rating',
  'Recommended IND',
  'Positive Feedback Count',
  'Division Name',
  'Department Name',
  'Class Name'],
 'Jumlah Attribut dengan Tipe Angka': 6}

### 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [19]:
data_slice_1 = df.iloc[:, 3:]
data_slice_1

# data_slice_2 = df.loc[df['112'] == 'XXX' , df.columns[3:]]
# data_slice_2

,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...
23481,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

### 5. Tampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).

In [20]:
label_count = df.select_dtypes(include=['object']).nunique()
label_count

Title              13993
Review Text        22634
Division Name          3
Department Name        6
Class Name            20
dtype: int64